<h1>I'm voting for:</h1>


<div class = "republican">
	<%= link_to "Donald Trump", why_path(party: true) %>
</div>

<div class = "democrat">
	<%= link_to "Hillary Clinton" , why_path(party: false) %>
</div>
