<h1>Results</h1>


<div class = "container">
	<div class = "row results">

		<div class = "col-md-6 col-xs-12 hill ">
			<h1>HILLARY CLINTON</h1>
			<h3>The good:</h3>
				<ul>
					<% @hill_good.each do |h| %>
						<li><%= h.body %></li>
					<% end %>
				</ul>

			<h3>The bad:</h3>
				<ul>
					<% @hill_bad.each do |h| %>
						<li><%= h.body %></li>
					<% end %>
				</ul>

		</div>

		<div class = "col-md-6 col-sm-6 col-xs-12 don">
			<h1>DONALD TRUMP</h1>
			<h3>The good:</h3>
				<ul>
					<% @don_good.each do |d| %>
						<li><%= d.body %></li>
					<% end %>
				</ul>

			<h3>The bad:</h3>
				<ul>
					<% @don_bad.each do |d| %>
						<li><%= d.body %></li>
					<% end %>
				</ul>
		</div>


	</div>
</div>