<h1>Results</h1>


<div class = "container">
	<div class = "row results">

		<div class = "col-md-6 col-xs-12  ">
			<div class = "candidate">
				<div class = "message-area good" id = "hill-good"></div>
				<h1 class = "can-name hill">Hillary Clinton</h1>
				<div class = "message-area bad" id = "hill-bad"></div>
			</div>
		</div>

		<div class = "col-md-6 col-sm-6 col-xs-12">
			<div class = "candidate">
				<div class = "message-area good" id = "don-good"></div>
				<h1 class = "can-name don">Donald Trump</h1>
				<div class = "message-area bad" id = "don-bad"></div>
			</div>
		</div>


	</div>
</div>