/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@keyframes fade { 
  0%         { opacity:0; }
  20%        { opacity:1; }
  80%         { opacity:1; }
  100%        { opacity:0; }
}

.republican, .democrat {
	font-size: 18px;
}

 .alert {
    color: black;
    padding: 10px;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 30%;
    border: 1px solid black;
    border-radius: 0px;
    &.alert-error{
        background: #FF665A;
    }
    &.alert-success{
        background: #64C83F;   
    }
 }

.hill{
	color: #0032d8;
}


.don {
	color: #d21400 ;
}

.candidate {
    text-align: center;
    font-size: 3em;
}


.can-name {
    font-family: 'Amethysta', serif;
    display: inline-block;
    padding: 5px;
    background: rgba(10, 10, 10, 0.4);

}

.message-area {
    text-align: left;
    height:30vh;
/*    border: 1px solid black;*/
    font-size: 0.5em;
}

.message-area p{
/*    border: 1px solid black;*/
    display: inline-block;
    position: relative;
    left: 0px;
    top: 0px;
    animation: fade 3s infinite;
}

.good{
    color: #009900;
}

.bad{
    color: #220235;
}
