@font-face {
    font-family: 'Amethysta', serif;
    src: asset-url('Amethysta-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans', sans-serif;
    src: asset-url('OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}